@font-face {
  font-family: "28days";
  src: url(./28\ Days\ Later.ttf);
}
:root {
  --red: #ef476f;
  --green: #06d6a0;
  --blue: #118ab2;
  --gold: #ffd166;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "28days", sans-serif;
  background-image: url(img/metal.jpg);
  background-size: cover;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 50px;
}
h1 {
  font-size: 10rem;
  grid-column: 1/3;
}
#result {
  font-size: 5rem;
  grid-column: 1/3;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  background-image: url(img/metal.jpg);
  background-size: cover;
  width: 80%;
  height: 100%;
  overflow: auto;
}
h2 {
  font-size: 3rem;
  padding-bottom: 15px;
}
.ships {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 100px 25px;
}
.player1,
.player2,
.setup-board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  border: 1px solid black;
  min-height: 500px;
  aspect-ratio: 1/1;
}
.setup-board > *,
.player1 > *,
.player2 > * {
  border: 1px solid black;
}
button {
  padding: 10px;
  font-size: large;
  font-family: "28days", sans-serif;
  border-radius: 10px;
}
.exist-ship {
  background-color: var(--green);
}
.hit {
  background-color: var(--red);
}
.not-hit {
  background-color: var(--blue);
}
